<section class="about-us">
  <!-- Sección de cabecera opcional -->

  <!-- Contenido sobre la firma -->
  <section class="about-content">
    <div class="about-header-text">
      <h1 class="about-title" id="about-us">
        {{ "OUR_FIRM2.TITLE_OUR" | translate
        }}<span class="strong">{{ "OUR_FIRM2.TITLE_FIRM" | translate }}</span>
      </h1>
      <hr class="about-divider" aria-hidden="true" />
    </div>

    <!-- Imagen con carga diferida y atributos de accesibilidad optimizados -->
    <div class="about-image">
      <img src="img/nuestra_firma/Nuestra-firma.webp" alt="Equipo de abogados en LegalTech - Abogados Digitales"
        loading="lazy" width="600" height="400" class="image" />
    </div>

    <!-- Descripción sobre la firma -->
    <div class="about-text">
      <p class="about-text-principal">
        {{ "OUR_FIRM2.TEXT_LEGALTECH" | translate }}
      </p>

      <!-- Contenido colapsable -->
      <div class="collapsible-content" [class.collapsed]="showMore">
        <p>
          {{ "OUR_FIRM2.TEXT_LAWYERS" | translate }}
        </p>
        <p>
          {{ "OUR_FIRM2.TEXT_SOLUTIONS" | translate }}
        </p>
      </div>

      <!-- Botón para ver más/menos -->
      <div class="toggle-content">
        <button class="toggle-more-btn" (click)="toggleShowMore()" [attr.aria-expanded]="showMore">
          {{ showMore ? "Ver menos" : "Ver más" }}
        </button>
      </div>
    </div>
  </section>

  <!-- Sección de la misión con contenido colapsable -->
  <section class="button-content">
    <app-legend-buttons [content]="mision" [title]="titleMision"></app-legend-buttons>
    <br />
    <app-legend-buttons [content]="vision" [title]="titleVision"></app-legend-buttons>
  </section>

  <section class="button-nuestro-equipo">
    <button class="formation-button" role="button" (click)="redirectToTeam()">
      <span>{{ "OUR_FIRM2.TITLE_MEET" | translate
        }}<span class="strong">
          {{ "OUR_FIRM2.TITLE_TEAM" | translate }}</span></span>
    </button>
  </section>
</section>