// /* General Styles */
@use "@assets/colors.scss" as *;

.about-us {
  .about-header {
    height: 117px;
    background: #611374;
  }
  .about-content {
    padding: 3%;
    margin: 4%;
    margin-bottom: 100px;
    background: #6c1582;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .about-header-text {
      color: $color-white;
      .about-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 0px;
        .strong {
          font-weight: 800;
          font-size: 20px;
          line-height: 0px;
        }
      }
    }

    .about-image {
      width: 100%;
      .image {
        width: 100%;
        height: auto;
      }
    }

    .about-text {
      color: $color-white;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;

      .toggle-content {
        width: 100%;
        display: flex;
        justify-content: center;
        .toggle-more-btn {
          background-color: transparent;
          color: $color-white;
          border: none;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
        }
      }

      .collapsible-content {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out; /* Ajuste para transición más suave */
      }

      .collapsible-content.collapsed {
        max-height: 1000px; /* Ajusta esta altura según el contenido */
        opacity: 1;
      }
    }
  }

  .button-content {
    margin-top: 50px;
  }

  .button-nuestro-equipo {
    margin: 4%;
    margin-top: 40px;

    .formation-button {
      width: 100%;
      background: $color-footer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      height: 91px;
      border: none;
      filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.25));
      color: $color-white;
      font-weight: 400;
      font-size: 20px;
      font-family: "Inter" !important;
      font-style: normal !important;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
      .strong {
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
}

// .collapsed {
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.5s ease;
// }

// .about-text {
//   transition: max-height 0.5s ease;
// }

/* Estilo para el contenido colapsable */

// .toggle-more-btn {
//   background-color: #007bff;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   font-size: 1em;
//   cursor: pointer;
//   border-radius: 5px;
//   margin-top: 15px;
//   display: inline-block;
// }

// .toggle-more-btn:hover {
//   background-color: #0056b3;
// }

// .toggle-more-btn:focus {
//   outline: 2px solid #0056b3;
// }
// .formation-button {
//   background-color: #2c3e50;
//   color: white;
//   border: none;
//   padding: 15px 30px;
//   font-size: 16px;
//   cursor: pointer;
//   transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
// }

.formation-button:hover {
  background-color: #34495e;
}

.formation-button:active {
  background-color: #1a252f;
  transform: scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
