<section>
  <div class="nuestra-firma">
    <div class="background-wrapper">
      <div class="white-background"></div>
      <div class="purple-background">
        <div class="content">
          <div class="text-column">
            <h2 class=" title-firma"id="nuestra-firma"><strong>NUESTRA FIRMA</strong></h2>
            <hr class="divider-firma" />
            <p>
              En LegalTech - Abogados Digitales, creemos en la importancia de
              adaptarnos a un mundo en constante evolución. Nos esforzamos por
              estar a la vanguardia de las tendencias emergentes en legal tech,
              explorando nuevas formas de utilizar la inteligencia artificial,
              la automatización y el análisis de datos para mejorar la
              eficiencia y la precisión en la práctica del derecho.
            </p>
            <p>
              Nuestros abogados no solo tienen un profundo conocimiento del
              derecho, sino también una comprensión sólida de cómo la tecnología
              puede transformar y mejorar la prestación de servicios legales.
            </p>
          </div>
          <div class="image-column">
            <img
              src="assets/img/Nuestra firma/Nuestra-firma.webp"
              alt="Nuestro equipo"
            />
          </div>
        </div>
        <div class="additional-text">
          
          <p>
            <br>
            En LegalTech - Abogados Digitales, combinamos la destreza legal
            tradicional con un enfoque innovador hacia la resolución de
            problemas. Ya sea que seas una startup emergente, una empresa
            establecida o un particular en busca de asesoramiento legal, en
            LegalTech te ofrecemos soluciones adaptadas a tus necesidades
            específicas. Estamos aquí para ayudarte a navegar por el panorama
            legal en constante cambio y para proporcionarte la tranquilidad y la
            seguridad que necesitas en un mundo cada vez más digitalizado.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mision-vision-section" aria-labelledby="nuestra-mision">
    <article>
      <h2 id="nuestra-mision">NUESTRA <strong>MISIÓN</strong></h2>
      <hr class="divider-nuestrafirma" />
      <p>
        <br />En Legaltech, nuestra misión es proporcionar a nuestros clientes
        una representación legal excepcional, respaldada por la experiencia
        técnica y la pasión por la innovación. Ya sea que necesites
        asesoramiento en materia de propiead intelectual, cumplimiento
        normativo, litigios o cualquier otra área del derecho, en [Nombre de la
        Firma] estamos aquí para ayudarte a navegar por un mundo legal cada vez
        más complejo y tecnológicamente impulsado.
      </p>
    </article>
  </div>

  <img
    src="assets/img/Nuestra firma/Banderita.webp"
    alt="Icono de misión"
    class="icon"
  />

  <div class="mision-vision-section" aria-labelledby="nuestra-vision">
    <article>
      <h2 id="nuestra-vision">NUESTRA <strong>VISIÓN</strong></h2>
      <hr class="divider-nuestrafirma" />
      <p>
        <br />En un entorno jurídico en constante evolución, nuestra misión es
        aprovechar las últimas herramientas tecnológicas para ofrecer a nuestros
        clientes una representación legal de vanguardia. Desde la automatización
        de procesos hasta el análisis de datos, nuestra experiencia en Legaltech
        nos permite optimizar la práctica del derecho, ahorrar tiempo y
        recursos, y brindar resultados excepcionales a nuestros clientes.
      </p>
      <!-- <img
        src="assets/img/icons/vision_icon.svg"
        alt="Icono de visión"
        class="icon"
      /> -->
    </article>
  </div>
</section>
