<section class="navbar">
  <div class="logo-container">
    <div class="content-img">
      <img
        src="icons/icon-72x72.webp"
        alt="Logo de LegalTech, Abogados Digitales SAS"
        class="logo"
        height="40"
        width="40"
        loading="lazy"
      />
    </div>
    <div class="text-container">
      <h2 class="company-name">LEGALTECH</h2>
      <p class="company-desc">{{ "NAV.NAME" | translate }}</p>
    </div>
  </div>

  <ul class="menu">
    @for (item of navbar; track $index) {
    <li class="menu-item">
      <a
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="link d-flex align-items-center justify-content-center"
      >
        {{ item.label | translate }}
      </a>
    </li>
    }
  </ul>

  <app-language-switcher></app-language-switcher>

  <!-- Input checkbox para activar/desactivar el menú -->
  <input
    type="checkbox"
    id="menu-toggle"
    class="menu-toggle-checkbox"
    aria-label="Abrir menú"
    #menuToggle
  />

  <!-- Overlay para cerrar el menú -->
  <label for="menu-toggle" class="overlay"></label>

  <!-- Botón del menú -->
  <label for="menu-toggle" class="menu-button">
    <svg
      width="33"
      height="25"
      viewBox="0 0 33 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="width: 25px"
    >
      <rect width="33" height="7" rx="3.5" fill="#EEACFF" />
      <rect y="9" width="33" height="7" rx="3.5" fill="#EEACFF" />
      <rect y="18" width="33" height="7" rx="3.5" fill="#EEACFF" />
    </svg>
  </label>

  <div class="button-lineal-container">
    @for (item of navbar; track $index) {
    <div class="menu-lineal">
      <a
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
      >
        <img
          src="{{ item.icon }}"
          alt="Icono de {{ item.label }}"
          class="menu-icon"
        />
        {{ item.label | translate }}
      </a>
    </div>
    }
  </div>
</section>
