@use "@assets/colors.scss" as *;

.navbar {
  display: flex;
  width: 100%;
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10%;
    .logo {
      width: 40px;
    }
    .text-container {
      color: $color-white;
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      .company-name,
      .company-desc {
        line-height: 0;
      }
      .company-desc {
        font-weight: 400;
        font-size: 0.6rem;
      }
    }
  }
  .menu {
    display: none;
  }
  .menu-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 46px;
  }
}

/* Tabletas */
@media (min-width: 768px) {
  .company-name {
    font-size: 1.25rem;
  }
  .company-desc {
    font-size: 8px;
  }
}

/* Dispositivos de escritorio pequeños */
@media (min-width: 992px) {
  .navbar {
    height: 77px;
    background: $color-nav-gradient;
    border-bottom: 0.5px solid rgba(209, 219, 219, 0.2);
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10%;
    .logo-container {
      margin-left: 10%;
      .logo {
        position: static;
        height: auto;
      }
      .text-container {
        margin-top: 16px;
        .company-name {
          margin: 0;
          font-weight: 700;
          font-size: 31.7945px;
          line-height: 20px;
        }
        .company-desc {
          font-size: 12.52px;
        }
      }
    }
    .menu {
      display: flex;
      justify-content: center;
      gap: 8%;
      width: 60%;
      height: 100%;
      margin: 0;
      .menu-item {
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        .link {
          position: relative;
          text-decoration: none;
          color: $color-white;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          &:hover {
            color: $color-navPosition;
          }
          &::before {
            display: block;
            position: absolute;
            content: "";
            width: 0;
            background: $color-navPosition;
            height: 5px;
            top: 0;
            transition: width 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
    .menu-button {
      display: none;
    }
  }
}
