<section class="navbar">
  <div class="logo-container">
    <div class="content-img">
      <img src="../../../assets/icons/icon-72x72.webp" alt="Logo de LegalTech, Abogados Digitales SAS" class="logo "
        height="40" width="40" loading="eager" />
    </div>

    <div class="text-container">
      <h2 class="company-name ">LEGALTECH</h2>
      <p class="company-desc ">ABOGADOS DIGITALES</p>
    </div>
  </div>
  <ul class="menu">
    @for (item of navbar; track $index) {
    <li class="menu-item ">
      <a href="{{item.link}}" class="link d-flex align-items-center justify-content-center"
        [tabIndex]="0">{{item.label}}</a>
    </li>
    }
  </ul>

  <button class="menu-button" aria-label="Abrir menú">
    <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="33" height="7" rx="3.5" fill="#EEACFF" />
      <rect y="9" width="33" height="7" rx="3.5" fill="#EEACFF" />
      <rect y="18" width="33" height="7" rx="3.5" fill="#EEACFF" />
    </svg>
  </button>
</section>