<div class="service-us">
  <div class="service-content">
    <div class="service-header-text">
      <h2 class="service-title">
        <span class="strong">Cobro de Cartera</span>
      </h2>
      <hr class="service-divider">
    </div>

    <div class="service-image">
      <img class="image" src="assets/images/cartera.jpg" alt="Cobro de Cartera">
    </div>

    <div class="service-text">
      <p class="service-text-principal">
        Se enfoca en la gestión y recuperación de deudas de manera eficiente, realizando acciones legales y extrajudiciales para recuperar los montos adeudados.
      </p>
    </div>


  </div>
  <div class="services-box">
    <p>• Comunicaciones a través de medios digitales para obtener el pago o requerimientos formales</p>
    <p>• Negociación con los deudores para establecer planes de pago</p>
    <p>• Presentación de procesos ejecutivos y procesos hipotecarios</p>
    <p>• Ejecución de sentencias y seguimiento de la recuperación de las sumas adeudadas</p>
  </div>

</div>
