
<h1 style="display: none;"
  aria-label="LegalTech: Asesoramiento Jurídico Avanzado Impulsado por Tecnología e Innovación">LegalTech: Asesoramiento
  Jurídico Avanzado Impulsado por Tecnología e Innovación</h1>

<app-carousel [imagesCarousel]="carouselPrincipal" [textPresent]="true" [pagination]="true" [spacebetween]="0"
  [slidesPerView]="1" [heightCorousel]="carouselHeight"></app-carousel>


<app-button-contacto></app-button-contacto>
<app-servicios></app-servicios>

<app-identidad></app-identidad>

<app-valores></app-valores>
<app-empresas></app-empresas>

<app-firma></app-firma>
<app-nuestro-equipo></app-nuestro-equipo>

