<article class="card-team">
  <section class="profile-picture-team">
    <picture>
      <source srcset="{{member().img_movil}}" media="(max-width: 600px)" loading="lazy" />
      <source srcset="{{member().img}}" media="(min-width: 600px)" loading="lazy" />
      <img class="team-img" [src]="member().img" [alt]="member().name" loading="lazy" width="210" height="210" />
    </picture>
  </section>
  <section class="profile-content-team">
    <div class="text">
      <h4 class="team-name">{{ member().name }}</h4>
      <h4 class="team-position">{{ member().position }}</h4>
    </div>

    <button class="btn-more-team" (click)="memberInfo(member().link)">
      ver más <span class="flex_icon">&#8594;</span>
    </button>
  </section>
</article>