<article class="card-team" (click)="memberInfo(member().link)">
  <section class="profile-picture-team">
    <picture>
      <source
        srcset="{{member().img_movil}}"
        media="(max-width: 600px)"
        loading="lazy"
      />
      <source
        srcset="{{member().img}}"
        media="(min-width: 600px)"
        loading="lazy"
      />
      <img
        class="team-img"
        [src]="member().img"
        [alt]="member().name"
        loading="lazy"
        width="210"
        height="210"
      />
    </picture>
  </section>
  <section class="profile-content-team">
    <div class="text">
      <h3 class="team-name">{{ member().name }}</h3>
      <p class="team-position">{{ member().position! | translate }}</p>
    </div>

    <button
      class="btn-more-team"
      (click)="memberInfo(member().link); $event.stopPropagation()"
    >
      {{ "TEAM.SEE_MORE" | translate }} <span class="flex_icon">&#8594;</span>
    </button>
  </section>
</article>
