
@use "@assets/colors.scss" as *;
.container {
	width: 80%; 
	margin: 40px auto;
}


.container-text h3{
  line-height: 1.2;
  font-size: clamp(15px, 2vw, 43px);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  color: $color-footer;

}
.Linea{
  
  background: $color-gradient;
  width: clamp(168px, 22vw, 48vh);
  margin: auto;
  border: none;
  height: 3px;
  opacity: 1; 
  
   }

.Container-Valores{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  height: auto; 
  max-width: 800px; 
  margin: 0 auto; 
  gap: 20px 11px;
  align-items: flex-start; 
    
}

.Responsabilidad, .Innovacion, .Celeridad, .Prejudicialidad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(170px, 40%, 800px);

}
p{
    font-family: 'Inter';
    font-size: 8.5px;
    line-height: 13px;
    text-align: center;    
    color: $color-footer;
    width: 100%;
    
}

.Honestidad {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(170px, 40%, 800px)
  
}
@media screen and (width >= 470px) {
  .Container-Valores{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: calc(20px + 1px) 10px;
 }
}

@media screen and (width >= 620px){
  
  p{
   font-size: 1.6vw; 
   line-height: 15px;
   width: clamp(204px, 40%, 800px);
  }

.Honestidad {
  order: 1;
  grid-column: span 1;
 
}

.Responsabilidad {
  order: 2;

}

.Innovacion {
 order: 3;

}

.Celeridad {
 order: 4;

}
.Prejudicialidad {
 order: 5;

}
.Celeridad, .Prejudicialidad{
  position: relative;
  top: 20px;
  left: 132px

}
}

 @media screen and (width >= 900px){
  p{
    font-size: 1.2vw;
    line-height: 20px;
    width: clamp(250px, 50%, 900px);
   }
 
 }

 @media screen and (width >=1420px) {
  p{
    font-size: 0.75vw;
    line-height: 20px;
    width: clamp(100px, 150%, 500px);
   }
 }
