<section class="Valores">
  <div class="container">
    <div class="container-text">
      <h2 class="text_principal_valores"> <span class="text_valores_normal">{{'VALUES.TITLE_PART_ONE' | translate }} </span> <strong>
        {{ 'VALUES.TITLE_PART_TWO' | translate }}</strong></h2>                       
      <div>
        <hr class="divider-services">
      </div>
    </div>
  </div>

  <div class="Container-Valores">
    <div class="Responsabilidad item_valor">
      <img src="icons/responsabilidad_valor.svg" loading="lazy" width="76" height="62"
        alt="La responsabilidad es la base sobre la que construimos la confinza de nuestros">

      <div class="text-valores">
        <h3 class="title_valor"> {{ 'VALUES.TITLE_PART_THREE' | translate }}</h3>
        <p class="text_valores_p"> {{ 'VALUES.TEXT_ONE' | translate }}</p>
      </div>

    </div>

    <div class="Innovacion item_valor">
      <img src="icons/Innovacion_valores_legal.svg" width="76" height="62" alt="La innovación a través de la tecnología es nuestra brújula para navegar en un
      mundo en constante cambio" loading="lazy" class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">{{ 'VALUES.TITLE_PART_FOUR' | translate }}</h3>
        <p class="text_valores_p"> {{ 'VALUES.TEXT_TWO' | translate }}
        </p>
      </div>
    </div>


    <div class=" Celeridad item_valor">
      <img src="icons/celeridad_valor_legal.svg" width="76" height="62" alt="En nuestra firma, la oportunidad es esencial. Nos comprometemos a proporcionar
      soluciones legales rápidas y eficiemntes, actuando con prontitud y eficacia en cada caso." loading="lazy"
        class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">{{ 'VALUES.TITLE_PART_FIVE' | translate }} </h3>
        <p class="text_valores_p">{{ 'VALUES.TEXT_THREE' | translate }}</p>
      </div>
    </div>


    <div class="Prejudicialidad item_valor ">
      <img src="icons/Prejudicialidad_valores_legal.svg" width="76" height="62" alt="Nos comprometemos en ofrecer asesorías eficaces y rápidas, buscando soluciones
      prácticas para los
      problemas de nuestros clientes sin recurrir a procesos juciciales prolongados." loading="lazy"
        class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">{{ 'VALUES.TITLE_PART_SIX' | translate }}</h3>
        <p class="text_valores_p">{{ 'VALUES.TEXT_FOUR' | translate }}</p>
      </div>


    </div>


    <div class=" Honestidad item_valor">
      <img src="icons/honestidad_valor.svg" width="76" height="62" alt="Nuestra firma se basa en la integridad, transparencia y compromiso con los
      intereses de los clientes." loading="lazy" class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">{{ 'VALUES.TITLE_PART_SEVEN' | translate }}</h3>
        <p class="text_valores_p">{{ 'VALUES.TEXT_FIVE' | translate }}</p>
      </div>

    </div>

  </div>

</section>