<section class="Valores">
  <div class="container">
    <div class="container-text">
      <h2 class="text_principal_valores"> <span class="text_valores_normal">Valores que </span> <strong>nos
          identifican</strong></h2>
      <div>
        <hr class="divider-services">
      </div>
    </div>
  </div>

  <div class="Container-Valores">
    <div class="Responsabilidad item_valor">
      <img src="icons/responsabilidad_valor.svg" loading="lazy" width="76" height="62"
        alt="La responsabilidad es la base sobre la que construimos la confinza de nuestros">

      <div class="text-valores">
        <h3 class="title_valor">RESPONSABILIDAD</h3>
        <p class="text_valores_p">La responsabilidad es la base sobre la que construimos la confinza de nuestros
          clientes y la excelencia
          de nuestros servicios legales. </p>
      </div>

    </div>

    <div class="Innovacion item_valor">
      <img src="icons/Innovacion_valores_legal.svg" width="76" height="62" alt="La innovación a través de la tecnología es nuestra brújula para navegar en un
      mundo en constante cambio" loading="lazy" class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">INNOVACIÓN</h3>
        <p class="text_valores_p"> La innovación a través de la tecnología es nuestra brújula para navegar en un
          mundo en constante cambio
        </p>
      </div>
    </div>


    <div class=" Celeridad item_valor">
      <img src="icons/celeridad_valor_legal.svg" width="76" height="62" alt="En nuestra firma, la oportunidad es esencial. Nos comprometemos a proporcionar
      soluciones legales rápidas y eficiemntes, actuando con prontitud y eficacia en cada caso." loading="lazy"
        class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">CELERIDAD</h3>
        <p class="text_valores_p">En nuestra firma, la oportunidad es esencial. Nos comprometemos a proporcionar
          soluciones legales rápidas y eficiemntes, actuando con prontitud y eficacia en cada caso.</p>
      </div>
    </div>


    <div class="Prejudicialidad item_valor ">
      <img src="icons/Prejudicialidad_valores_legal.svg" width="76" height="62" alt="Nos comprometemos en ofrecer asesorías eficaces y rápidas, buscando soluciones
      prácticas para los
      problemas de nuestros clientes sin recurrir a procesos juciciales prolongados." loading="lazy"
        class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">PREJUDICIALIDAD</h3>
        <p class="text_valores_p">Nos comprometemos en ofrecer asesorías eficaces y rápidas, buscando soluciones
          prácticas para los
          problemas de nuestros clientes sin recurrir a procesos juciciales prolongados.</p>
      </div>


    </div>


    <div class=" Honestidad item_valor">
      <img src="icons/honestidad_valor.svg" width="76" height="62" alt="Nuestra firma se basa en la integridad, transparencia y compromiso con los
      intereses de los clientes." loading="lazy" class="svg_valores">
      <div class="text-valores">
        <h3 class="title_valor">HONESTIDAD</h3>
        <p class="text_valores_p">Nuestra firma se basa en la integridad, transparencia y compromiso con los
          intereses de los clientes.
        </p>
      </div>

    </div>

  </div>

</section>