//MI CODIGO
.container {
	width: 80%; /* adjust the width as needed */
	margin: 40px auto; /* center the container */
}

.text h3{
	 width: 100%;
	 padding: 10px;
	 font-size: 17px;
	 text-align: center;
    color: rgba(97, 19, 116, 1);

}
.Linea{
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 2px; /* Grosor de la línea */
  background: linear-gradient(to right, rgba(97, 19, 116, 1) 92%, rgba(238, 172, 255, 1)8%); /* Gradiente lineal */
  display: flex; /* Usar flexbox para centrar */
  margin: 0 auto; /* Centra horizontalmente */
  
   }


.Container-Valores{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  height: auto; /* Se ajustará automáticamente según el contenido */
  max-width: 800px; /* Opcional: establece un ancho máximo */
  margin: 0 auto; /* Centra el grid horizontalmente */
  gap: 20px 11px;
  align-items: flex-start; /* Alinea verticalmente en la parte superior */
    
}



.item-innovacion{
    transform: translateX(16px);
  }
  
  .item-prejudicialidad{
    transform: translateX(16px);
  }

  .item-celebridad{
    transform: translateX(31px);
  }

  .item-honestidad{

    transform: translateX(52px);
  }

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8.5px;
    line-height: 13px;
    text-align: center;
    
    color: #611374;
    
}

.Honestidad{
  grid-column: span 2;
  transform: translateX(70px);
  .item-honestidad{
    transform: translateX(70px);
  }
  p{
    font-size: 9.2px;
    width: 60%;
  }
 
}
@media screen and (min-width:470px) {
  
  .Linea{
    width: 45%;
   }
  .Container-Valores{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    height: auto; /* Se ajustará automáticamente según el contenido */
    max-width: 800px; /* Opcional: establece un ancho máximo */
    margin: 0 auto; /* Centra el grid horizontalmente */
    gap: 20px 10px;
    align-items: flex-start
 }

 

 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 9.2px;
  line-height: 12px;
  text-align: center;
  
  color: #611374;

}
  
}


@media screen and (min-width: 620px){


  .Linea{
    width: 40%;
  }
  
  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    
    color: #611374;
    width: 125%;
  
  }
/* Aquí aplicamos el orden deseado */
.Honestidad {
  order: 1;
  grid-column: span 1;
  transform: translateX(0px);
  p{
    font-size: 11px;
    width: 92%;
  }
  .item-honestidad{
    transform: translateX(57px);
  }
}

.Responsabilidad {
  order: 2;
  p{
    transform: translateX(-35px);
  }
  .item-responsabilidad{
    transform: translateX(-10px);
  }
}

.Innovacion {
  order: 3;
 p{
  transform: translateX(-35px);
 } 
  .item-innovacion{
    transform: translateX(10px);
  }
}

.Celeridad {
  order: 4;
  p{
    transform: translateX(45px);
  }
  .item-celebridad{
    transform: translateX(125px);
  }
}
.Prejudicialidad {
  order: 5;
  p{
    transform: translateX(80px);
  }
  .item-prejudicialidad{
    transform: translateX(135px);
  
  }
}

}

@media screen and (min-width:680px){
  /* Aquí aplicamos el orden deseado */

  p{
 
    font-size: 1.65vw;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  p{
    font-size: 1.65vw;
        width: 86%;
        transform: translateX(33px);
  }
  .item-honestidad{
    transform: translateX(91px);
  }
}

.Responsabilidad {
  order: 2;
  p{
    transform: translateX(-45px);
  }
  .item-responsabilidad{
    transform: translateX(-10px);
  }
}

.Innovacion {
  order: 3;
 p{
  transform: translateX(-90px);
 } 
  .item-innovacion{
    transform: translateX(-32px);
  }
}

.Celeridad {
  order: 4;
  p{
    transform: translateX(60px);
  }
  .item-celebridad{
    transform: translateX(149px);
  }
}
.Prejudicialidad {
  order: 5;
  p{
    transform: translateX(91px);
  }
  .item-prejudicialidad{
    transform: translateX(172px);
  
  }
}
  
}

//LISTO
@media screen and (min-width: 780px) {
  //800
  
  p{
 
    font-size: 1.65vw;
    line-height: 1.2;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  p{
    font-size: 1.65vw;
        width: 90%;
        transform: translateX(19px);
  }
  .item-honestidad{
    transform: translateX(91px);
  }
}

.Responsabilidad {
  order: 2;
  p{
    transform: translateX(-45px);
  }
  .item-responsabilidad{
    transform: translateX(6.5px);
  }
}

.Innovacion {
  order: 3;
 p{
  transform: translateX(-90px);
 } 
  .item-innovacion{
    transform: translateX(-14px);
  }
}

.Celeridad {
  order: 4;
  p{
    transform: translateX(60px);
  }
  .item-celebridad{
    transform: translateX(172px);
  }
}
.Prejudicialidad {
  order: 5;
  p{
    transform: translateX(91px);
  }
  .item-prejudicialidad{
    transform: translateX(181px);
  
  }
}
  
  
  
}


@media screen and (min-width:900px){
  .Linea{
    width:30%;
  }
  p{
 
    font-size: 1.4vw;
    line-height: 1.2;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  p{
    font-size: 1.4vw;
        width: 86%;
        transform: translateX(45px);
  }
  .item-honestidad{
    transform: translateX(110px);
  }
}

.Responsabilidad {
  order: 2;
  p{
    transform: translateX(-45px);
  }
  .item-responsabilidad{
    transform: translateX(1.7px);
  }
}

.Innovacion {
  order: 3;
 p{
  transform: translateX(-90px);
 } 
  .item-innovacion{
    transform: translateX(-18.5px);
  }
}

.Celeridad {
  order: 4;
  p{
    transform: translateX(66px);
  }
  .item-celebridad{
    transform: translateX(172px);
  }
}
.Prejudicialidad {
  order: 5;
  p{
    transform: translateX(91px);
  }
  .item-prejudicialidad{
    transform: translateX(181px);
  
  }
}
  
}

@media screen and (min-width:1024px) {
 .Linea{
  width:26%;
 } 
 p{
 
  font-size: 1.25vw;
  line-height: 1.2;
}
.Honestidad {
order: 1;
grid-column: span 1;
p{
  font-size: 1.25vw;
      width: 90%;
      transform: translateX(40px);
}
.item-honestidad{
  transform: translateX(110px);
}
}

.Responsabilidad {
order: 2;
p{
  transform: translateX(-31px);
}
.item-responsabilidad{
  transform: translateX(21px);
}
}

.Innovacion {
order: 3;
p{
transform: translateX(-78px);
} 
.item-innovacion{
  transform: translateX(-7.5px);
}
}

.Celeridad {
order: 4;
p{
  transform: translateX(76px);
}
.item-celebridad{
  transform: translateX(183px); //183
}
}
.Prejudicialidad {
order: 5;
p{
  transform: translateX(97px);
}
.item-prejudicialidad{
  transform: translateX(194px);

}
}
}

@media screen and (min-width:1200px) {
  .Linea{
   width:22%;
  } 

  p{
 
    font-size: 1vw;
    line-height: 1.2;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  transform: translateX(-30px);
  p{
    font-size: 1vw;
        width: 85%;
        transform: translateX(40px);
  }
  .item-honestidad{
    transform: translateX(110px);
  }
  }
  
  .Responsabilidad {
  order: 2;
  p{
    transform: translateX(-31px);
  }
  .item-responsabilidad{
    transform: translateX(12px);
  }
  }
  
  .Innovacion {
  order: 3;
  transform: translateX(30px);
  p{
  transform: translateX(-78px);
  } 
  .item-innovacion{
    transform: translateX(-9.5px);//
  }
  }
  
  .Celeridad {
  order: 4;
  p{
    transform: translateX(76px);
  }
  .item-celebridad{
    transform: translateX(180px);
  }
  }
  .Prejudicialidad {
  order: 5;
  p{
    transform: translateX(97px);
  }
  .item-prejudicialidad{
    transform: translateX(185px);
  
  }
  }
 }

 

 @media screen and (min-width:1420px) {
  .Linea{
   width:20%;
  } 

  p{
 
    font-size: 1vw;
    line-height: 1.2;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  transform: translateX(-30px);
  p{
    font-size: 1vw;
        width: 100%;
        transform: translateX(40px);
  }
  .item-honestidad{
    transform: translateX(125px);
  }
  }
  
  .Responsabilidad {
  order: 2;
  p{
    transform: translateX(-31px);
  }
  .item-responsabilidad{
    transform: translateX(20.7%);
  }
  }
  
  .Innovacion {
  order: 3;
  transform: translateX(30px);
  p{
  transform: translateX(-78px);
  } 
  .item-innovacion{
    transform: translateX(5.5px);
  }
  }
  
  .Celeridad {
  order: 4;
  p{
    transform: translateX(70px);
  }
  .item-celebridad{
    transform: translateX(183px);
  }
  }
  .Prejudicialidad {
  order: 5;
  p{
    transform: translateX(100px);
  }
  .item-prejudicialidad{
    transform: translateX(194px);
  
  }
  }
 }

 @media screen and (min-width:1600px) {
  .Linea{
   width:20%;
  } 

  p{
 
    font-size: 0.91vw;
    line-height: 1.2;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  transform: translateX(-30px);
  p{
    font-size: 0.91vw;
        width: 102%;
        transform: translateX(30px);
  }
  .item-honestidad{
    transform: translateX(125px);
  }
  }
  
  .Responsabilidad {
  order: 2;
  p{
    transform: translateX(-31px);
  }
  .item-responsabilidad{
    transform: translateX(20.7%);
  }
  }
  
  .Innovacion {
  order: 3;
  transform: translateX(30px);
  p{
  transform: translateX(-78px);
  } 
  .item-innovacion{
    transform: translateX(5.5px);
  }
  }
  
  .Celeridad {
  order: 4;
  p{
    transform: translateX(50px); //50
  }
  .item-celebridad{
    transform: translateX(183px);
  }
  }
  .Prejudicialidad {
  order: 5;
  p{
    transform: translateX(120px); //120
  }
  .item-prejudicialidad{
    transform: translateX(211px);//211
  
  }
  }
 }

 @media screen and (min-width:1872px) {
  .Linea{
   width:20%;
  } 

  p{
 
    font-size: 0.85vw;
    line-height: 1.2;
  }
  .Honestidad {
  order: 1;
  grid-column: span 1;
  transform: translateX(-30px);
  p{
    font-size: 0.85vw;
        width: 110%;
        transform: translateX(20px);
  }
  .item-honestidad{
    transform: translateX(125px);
  }
  }
  
  .Responsabilidad {
  order: 2;
  p{
    transform: translateX(-31px);
  }
  .item-responsabilidad{
    transform: translateX(29.7%);
  }
  }
  
  .Innovacion {
  order: 3;
  transform: translateX(30px);
  p{
  transform: translateX(-78px);
  } 
  .item-innovacion{
    transform: translateX(5.5px);
  }
  }
  
  .Celeridad {
  order: 4;
  p{
    transform: translateX(50px); //50
  }
  .item-celebridad{
    transform: translateX(183px);
  }
  }
  .Prejudicialidad {
  order: 5;
  p{
    transform: translateX(120px); //120
  }
  .item-prejudicialidad{
    transform: translateX(211px);//211
  
  }
  }
 }
 