<section class="signature">
  <div class="signature-section__container">
   <img src="https://firebasestorage.googleapis.com/v0/b/legaltech-frontoffice.appspot.com/o/signature_cartagena_bella.webp?alt=media&token=66e04398-5e1c-4957-8c55-79dadf81580d " class="signature-section__image" alt="Firma de Cartagena Bella">     
           <h2  class="signature-section__title">FIRMA</h2>
           <p  class="signature-section__text"> 
             En Legal Tech, nos enorgullecemos de ofrecer a nuestros clientes una  representación legal excepcional respaldada por años de experiencia y dedicación inquebrantable. Nuestro equipo de abogados altamente calificados está comprometido con la defensa de los derechos y los intereses de quienes confían en nosotros para resolver sus asuntos legales más apremiantes. 
           </p>
             <button class="signature-section__button" aria-label="Leer más sobre nuestra firma legal"> VER MÁS</button>
       
       
  </div>
 </section>
 