<section class=" Firma">
  <div class="container-firma">
   <img src="assets/img/firma/firma2.webp" class="firma2">     
           <div  class="titulo">FIRMA</div>
           <div  class="texto"> 
             En Legal Tech, nos enorgullecemos de ofrecer a nuestros clientes una  representación legal excepcional respaldada por años de experiencia y dedicación inquebrantable. Nuestro equipo de abogados altamente calificados está comprometido con la defensa de los derechos y los intereses de quienes confían en nosotros para resolver sus asuntos legales más apremiantes. 
           </div>
             <button class="Ver-mas"> VER MÁS</button>
       
       
  </div>
 </section>
 