@use "@assets/colors.scss" as *;
.signature {
  background: $color-footer;
  width: 100%;
  .signature-section-container {
    position: relative;
    .signature-section-image {
      width: auto;
      max-width: 100%;
      min-height: 189px;
      height: auto;
    }
    .signature-container-text {
      font-family: "Inter";
      font-style: normal;
      position: absolute;
      top: clamp(23px, 2rem, 55px);
      text-align: center;
      color: $color-white;
      .signature-section-title {
        font-weight: 800;
        font-size: clamp(15px, 2.5vw, 43px);
        text-align: center;
      }
      .signature-section-text {
        font-size: clamp(10px, 1.5vw, 27px);
        width: 80%; 
        margin: auto;
        margin-top: 2%;
        font-weight: 400;
        line-height: clamp(12px, 2vw, 33px);
      }
      .signature-section-button {
        padding: 1px;
        border: 0.28px solid $color-white;
        border-radius: 17px;
        color: $color-white;
        width: clamp(7%, 8vw, 50%);
        font-weight: 500;
        font-size: clamp(5px, 1vw, 19px); // (10px, 2vw, 19px)
        background-color: transparent;
        margin: 2%;
      }
    }
  }
}
