<section class="signature" role="region" aria-labelledby="signature-title">
  <div class="signature-section-container">
    <picture>
      <source
        srcset="https://firebasestorage.googleapis.com/v0/b/legaltech-frontoffice.appspot.com/o/signature_cartagena_bella_movil.webp?alt=media&token=86fdd3ca-23f1-4006-83f0-7ae4d06165df"
        title="Firma LegalTech en Cartagena Bella" media="(max-width: 425px)">
      <source
        srcset="https://firebasestorage.googleapis.com/v0/b/legaltech-frontoffice.appspot.com/o/signature_cartagena_bella.webp?alt=media&token=66e04398-5e1c-4957-8c55-79dadf81580d"
        title="Firma LegalTech en Cartagena Bella">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/legaltech-frontoffice.appspot.com/o/signature_cartagena_bella.webp?alt=media&token=66e04398-5e1c-4957-8c55-79dadf81580d"
        class="signature-section-image" alt="Firma LegalTech en Cartagena Bella"
        title="Firma LegalTech en Cartagena Bella" loading="lazy">
    </picture>
    <div class="signature-container-text">
      <h2 id="signature-title" class="signature-section-title">FIRMA</h2>
      <p class="signature-section-text">
        En LegalTech, nos enorgullecemos de ofrecer a nuestros clientes una representación legal excepcional respaldada
        por años de experiencia y dedicación inquebrantable. Nuestro equipo de abogados altamente calificados está
        comprometido con la defensa de los derechos y los intereses de quienes confían en nosotros para resolver sus
        asuntos legales más apremiantes.
      </p>
      <button class="signature-section-button" aria-label="Leer más sobre nuestra firma legal"> VER MÁS </button>
    </div>

  </div>
</section>