<div class="service-us">
  <div class="service-content">
    <div class="service-header-text">
      <h2 class="service-title">
        <span class="strong">Responsabilidad Civil</span>
      </h2>
      <hr class="service-divider">
    </div>

    <div class="service-image">
      <img class="image" src="" alt="Responsabilidad Civil">
    </div>

    <div class="service-text">
      <p class="service-text-principal">
        Ofrecemos asesoría legal en materia de responsabilidad civil, garantizando la protección de derechos y cumplimiento de obligaciones.
      </p>
    </div>


  </div>
  <div class="services-box">
    <p>• Asesoramiento en la compra, venta, alquiler y arrendamiento de propiedades</p>
    <p>• Redacción, revisión y negociación de contratos inmobiliarios</p>
    <p>• Resolución de conflictos relacionados con la propiedad</p>
    <p>• Asistencia en la tramitación de documentos ante autoridades competentes</p>
    <p>• Análisis de procesos hipotecarios en etapa de remate</p>
  </div>
</div>
