.card-dialog {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  width: 86%;
  background-image: url(./img/img.png);
  background-color: #f8f6f8;
}

.dialog-title {
  color: #611374;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.whatsapp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.contact-message {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.whatsapp-link {
  text-decoration: none;
  width: 50%;
}

.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #611374;
  color: white;
  padding: 12px 24px;
  border-radius: 45px;
  font-weight: 100;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(37, 211, 102, 0.3);
}

.whatsapp-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(37, 211, 102, 0.4);
}

.whatsapp-icon {
  margin-right: 10px;
}

.button-text {
  margin-left: 8px;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.close-button {
  background: none;
  position: relative;
  bottom: 195px;
  left: 185px;
  font-weight: 900;
  color: #555;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #e0e0e0;
}

/* Responsive styles for small screens */
@media (max-width: 480px) {
  .card-dialog {
    padding: 15px;
    max-width: 100%;
    border-radius: 10px;
  }

  .dialog-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .contact-message p {
    font-size: 14px;
  }

  .whatsapp-button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .whatsapp-icon {
    width: 20px;
    height: 20px;
  }

  .button-text {
    margin-left: 6px;
  }

  .close-button {
    padding: 6px 16px;
    font-size: 14px;
  }
}

/* Fix for very small screens */
@media (max-width: 320px) {
  .card-dialog {
    padding: 10px;
  }

  .dialog-title {
    font-size: 18px;
  }

  .whatsapp-button {
    padding: 8px 16px;
  }
}

::ng-deep.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con 70% de opacidad */
}
::ng-deep.mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: transparent;
  box-shadow: none;
}

.whatsapp-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.whatsapp-link {
  transition: transform 0.3s ease;
}

.whatsapp-link:hover {
  transform: scale(1.1);
}
