<div class="service-us">
  <div class="service-content">
    <div class="service-header-text">
      <h2 class="service-title">
        <span class="strong">Propiedad Horizontal</span>
      </h2>
      <hr class="service-divider">
    </div>

    <div class="service-image">
      <img class="image" src="assets/images/propiedad-horizontal.jpg" alt="Propiedad Horizontal">
    </div>

    <div class="service-text">
      <p class="service-text-principal">
        Ofrecemos servicios especializados en propiedad horizontal, garantizando una gestión eficiente y legal.
      </p>
    </div>

  </div>

  <div class="services-box">
    <p>• Asesoría legal en temas relacionados con la propiedad horizontal</p>
    <p>• Asistencia en asambleas</p>
    <p>• Reglamentos de propiedad horizontal y reformas</p>
    <p>• Procesos sancionatorios</p>
    <p>• Comités de convivencia</p>
    <p>• Representación judicial</p>
    <p>• Recepción áreas comunes</p>
    <p>• Demandas efectividad de la garantía</p>
    <p>• Cobros de expensas comunes de administración</p>
  </div>
</div>