<section id="footer-content" class="footer-content">
  <section class="footer-white">
    <section class="logo">
      <picture>
        <source srcset="assets/icons/icon_legal_purple.svg" media="(max-width: 790px)" type="image/svg+xml" />
        <source srcset="assets/icons/icon_legal_white.svg" media="(min-width: 800px)" type="image/svg+xml" />
        <img src="assets/icons/icon_legal_white.svg" alt="Logo de LegalTech, Abogados Digitales SAS" loading="lazy"
          width="200" height="200" class="logo_img" />
      </picture>


      <div class="divider-footer"></div>
      <div class="text-container">
        <h2 class="company-name">LEGALTECH</h2>
        <p class="company-desc ">ABOGADOS DIGITALES</p>
      </div>
    </section>

    <section class="links">
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <th scope="row">
              <img src="assets/icons/telefono.svg" alt="" srcset="">
            </th>
            <td>
              <a href="tel:3003534323" class="text-footer"><span>300 3534323</span></a>
              -
              <a href="tel:3226654345" class="text-footer"><span>322 6654345</span></a>
            </td>
          </tr>
          <tr>
            <th scope="row" class="d-flex">
              <img src="assets/icons/ubicacion.svg" alt="" srcset="">
            </th>
            <td class="text-footer">Barrio perdido por la esquina de doña juana cll 23 #26-07</td>
          </tr>
          <tr>
            <th scope="row">
              <img src="assets/icons/email.svg" alt="" srcset="">
            </th>
            <td>
              <a href="mailto:sucete@abogadosdigitales.com.co" class="text-footer">
                sucete&#64;abogadosdigitales.com.co </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>


    <div class="divider-footer-botones"></div>

    <section class="social-media">
      <p class="social-media__text">SÍGUENOS</p>
      <ul class="social-media__list">
        <li>
          <a title="Instagram" href="https://www.instagram.com/legaltechabogadosdigitales" target="_blank"
            rel="noopener noreferrer" class="social-media__link">
            <img src="assets/icons/instagram.svg" alt="Instagram de LegalTech" width="32" height="33" />
          </a>
        </li>
        <li>
          <a title="Tiktok" href="https://www.tiktok.com/@tucuenta" target="_blank" rel="noopener noreferrer"
            class="social-media__link">
            <img src="assets/icons/tiktok.svg" alt="Tiktok de LegalTech" width="44" height="44" />
          </a>
        </li>
        <li>
          <a title="Facebook" href="https://www.facebook.com/tucuenta" target="_blank" rel="noopener noreferrer"
            class="social-media__link">
            <img src="assets/icons/facebook.svg" alt="Facebook de LegalTech" width="32" height="32" />
          </a>
        </li>
      </ul>
    </section>


    <!-- <section class="derechos-autor custom-desk">
      <p class="text-derechos">© 2024 LegalTech | Todos los derechos reservados.</p>
    </section> -->

  </section>
</section>