@use "@assets/colors.scss" as *;

#footer-content {
  height: 296px;
  background: $color-footer;
  position: relative;
  margin-top: 25%;
  .footer-white {
    background: $color-white;
    position: absolute;
    width: 91%;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.25);
    height: 370px;
    top: 111px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    .logo {
      display: flex;
      align-items: center;
      margin: 30px 34px 40px;
      justify-content: center;

      .logo_img {
        width: 64%;
        min-width: 60px;
        height: auto;
      }

      .divider-footer {
        height: 65px;
        border-left: 2px solid $color-footer;
        margin: 0 34px 0 -13px;
      }

      .text-container {
        .company-name {
          font-size: 21px;
          line-height: 0px;
          font-weight: 800;
          color: $color-footer;
        }

        .company-desc {
          font-weight: 400;
          font-size: 9px;
          line-height: 7px;
          margin: 0;
          color: $color-footer;
        }
      }
    }

    .links {
      display: flex;
      padding: 0px 32px;
      word-wrap: break-word;
      word-break: break-all;
      .text-footer {
        color: $color-footer;
        text-decoration: none;
        font-size: 15px;
      }
    }

    .socialMedia {
      margin-top: 38px;
      margin-left: 45px;

      .text {
        font-weight: 600;
        font-size: 20px;
        line-height: 0px;
        color: $color-footer;
      }

      .list-social {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0 10px; /* Increased spacing between icons */

        a:focus,
        a:hover {
          opacity: 0.8;
        }
      }
    }

    .derechos-autor {
      margin: 10%;
      .custom-desk {
        display: inline;
      }

      .text-derechos {
        color: $color-footer;
        text-align: center;
      }
    }
  }
}

@media (width > 790px) {
  #footer-content {

    color: $color-white;

    .footer-white {
      background: none;
      position: static; /* static es el valor predeterminado que anula absolute */
      width: 100%; /* Auto restablece el ancho a su valor predeterminado */
      box-shadow: none;
      transform: none;
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0 30px;

      .logo {
        width: 33%;
        margin: 0;
        .logo_img {
          width: clamp(40px, 4vw, 88px);
        }
        .divider-footer {
          border-left: 2px solid $color-white;
          height: 100px;
          margin: 0 37px;
        }
        .text-container {
          .company-name {
            color: $color-white;
            font-size: clamp(0.5rem, 3.5vw, 46px);
          }
          .company-desc {
            color: $color-white;
            font-size: clamp(12px, 1vw, 16px);
          }
        }
      }
      .links {
        width: 33%;
        padding: 0;
        margin-left: 66px;
        .text-footer {
          color: $color-white;
        }
      }

      .divider-footer-botones {
        border-left: 2px solid $color-white;
        height: 150px;
        margin: 0 37px;
      }

      .socialMedia {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        .text {
          color: $color-white;
        }
      }
    }

    .links::before {
      content: "";
      display: inline-block;
      border-left: 2px solid $color-white; /* Grosor y color de la línea */
      height: 150px; /* Altura de la línea */
      margin-right: 43px;
      vertical-align: middle;
    }
  }
}
