@media (min-width: 800px) {
  .kwon-team {
    margin-top: 129px;
    height: 200px;
    background-color: #611374;

    .team-title-container {
      padding: 37px;
      justify-content: center;
      display: flex;
      /* align-items: center; */
      font-size: 28px;
      color: white;
      font-weight: 300;

      h2 {
        font-weight: 300;
      }
    }
  }
}
