<section class="conten-team">
  <header class="header"></header>

  <app-img-team></app-img-team>


  <button class="contact-button" (click)="toggleInfo()" [attr.aria-expanded]="showInfo">
    <img src="assets/img/team/Group 164.png" alt="Icono de contacto" class="contact-icon">
    <strong>Contactar</strong>
    <img [src]="arrowContact" alt="Flecha" class="arrow-icon">
  </button>

  <article *ngIf="showInfo" class="info-box" aria-live="polite">
    <p><strong>Correo:</strong> sucete&#64;gmail.com</p>
    <p><strong>Número:</strong> 123-456-7890</p>
  </article>

  <button class="formation-button" (click)="toggleEducation()" [attr.aria-expanded]="showEducation">
    <img class="formation-icon" src="assets/img/team/Group 670.png" alt="Icono de Formación">
    <strong>Formación</strong>
    <img [src]="arrowFormation" alt="Flecha" class="arrow-icon">
  </button>

  <article *ngIf="showEducation" class="education-box" aria-live="polite">
    <p>
      Abogada, graduada de la Universidad del Norte en Barranquilla en 1998. Continué mis estudios en la Universidad
      Externado de Colombia en Bogotá entre 2001 y 2002. Además, completé un programa de American Legal English en EF
      Chicago de 2016 a 2017. Finalmente, obtuve mi título en Law School en la University of Pennsylvania en abril de
      2020.
    </p>
  </article>

  <hr class="purple-line">

  <article class="biography-info">
    <p>
      Abogada con amplia experiencia en <strong>asesoría legal y litigios</strong>, con más de <strong>21 años de
        experiencia</strong> en el ejercicio del derecho.
    </p>
  </article>

  <section class="experience-box">
    <h3><strong>Experiencia</strong></h3>
    <ul>
      <li>• Gerente y socia fundadora. Legal Tech Abogados Digitales 2012 - presente.</li>
      <li>• Abogada Litigante y asesora legal externa – Julio de 2005 - Actualmente. Cartagena.</li>
      <li>• Corresponsal para la ciudad de Cartagena. Vélez Gutiérrez. Agosto 2011 hasta la fecha.</li>
      <li>• Corresponsal para la ciudad de Cartagena. CHAPMAN & ASOCIADOS. Agosto 2005 hasta febrero de 2016.</li>
    </ul>
  </section>


  <button class="signature-button" (click)="toggleSignature()" [attr.aria-expanded]="showSignature">
    Nuestra <strong>Firma</strong>
  </button>
</section>
