<div class="service-us">
  <div class="service-content">
    <div class="service-header-text">
      <h2 class="service-title">
        <span class="strong">Derecho Laboral</span>
      </h2>
      <hr class="service-divider">
    </div>

    <div class="service-image">
      <img class="image" src="images/laboral.jpg" alt="Derecho Laboral">
    </div>

    <div class="service-text">
      <p class="service-text-principal">
        Brindamos asesoría especializada en materia laboral para garantizar el cumplimiento normativo y la defensa de derechos:
      </p>
    </div>
  </div>

  <div class="services-box">
    <p>• Asesoría sobre contratación laboral, despidos, salarios y beneficios legales</p>
    <p>• Defensa ante conflictos laborales, como despidos injustificados, acoso laboral</p>
    <p>• Redacción y revisión de contratos laborales y políticas internas de empresas</p>
    <p>• Asesoramiento en la implementación de políticas de prevención de riesgos laborales</p>
  </div>
</div>
