@use "@assets/colors.scss" as *;

.identity-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  background: $color-identidad;
  font-family: "Inter", sans-serif;
  color: $color-white;
  position: relative;
  .bandera_absolute {
    display: none;
  }

  .identity-heading {
    font-weight: 400;
    font-size: clamp(20px, 2vw, 43px);
    line-height: 1.2;
    margin: clamp(28px, 5%, 70px) 0 40px 0;

    .highlighted-text {
      font-weight: 600;
    }
  }

  .identity-content {
    display: flex;
    gap: 5%;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 40px;

    .identity-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        width: 60%;
        height: 60%;

        &.icon-experience {
          width: 20%;
          height: 20%;
        }

        &.icon-process {
          width: 50%;
          height: 50%;
        }
      }

      .statistic-number {
        margin: 15px 0 0 0;
        font-weight: 900;
        font-size: clamp(17.8471px, 3vw, 59.07px);
        line-height: 0.5;
        text-align: center;
      }

      .statistic-label {
        font-weight: 500;
        font-size: clamp(15px, 2vw, 34px);
        line-height: 0;
        text-align: center;
      }
    }
  }
}

@media (width >= 992px) {
  .bandera_absolute {
    display:block !important;
    position: absolute;
    left: 10%;
    top: -22%;
  }
}
