<section class="services">
  <div class="container-services">
    <header class="services-header">
      <h2 class="text-services">
        <span class="highlight-primary">{{
          "SERVICES.SERVICES_TITLE" | translate
          }}</span><br />
        <span class="highlight-secondary">{{
          "SERVICES.SERVICES_SUBTITLE" | translate
          }}</span>
      </h2>
      <hr class="divider-services" />
    </header>
  </div>

  <!-- Usando el componente dinámico de navegación de servicios -->
  <app-service-navigation [currentService]="''"></app-service-navigation>
</section>