@use "@assets/colors.scss" as *;

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: clamp(562px, 20vw, 681px);
  .container-services {
    margin-bottom: clamp(45px, 2vw, 60px);
    .services-header {
      text-align: center;
      font-family: "Inter";
      font-style: normal;
      h3 {
        line-height: 1.2;
        margin-top: 20%;
        font-size: clamp(15px, 2vw, 43px);
        .highlight-primary {
          color: $color-navPosition;
        }
        .highlight-secondary {
          color: $color-footer;
        }
        .highlighted-text {
          font-weight: 700;
        }
      }
      .divider-services {
        width: clamp(168px, 22vw, 48vh);
        margin: auto;
        border: none;
        height: 3px;
        opacity: 1;
        background: $color-gradientLine;
      }
    }
  }

  .button-container {
    max-width: 800px;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-items: center;
    align-content: space-evenly;
    font-family: "Inter";
    font-style: normal;
    .button-item {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: $color-footer;
      border: 3.59816px solid $color-white;
      background-color: $color-white;
      border-radius: 16.1569px;
      box-shadow: 0px -3.79963px 3.03971px rgba(0, 0, 0, 0.03),
        0px 3.79963px 3.03971px #cbcbcb;
      width: 240.59px;
      height: 65.72px;
      margin-bottom: 25px;
      position: relative;
      margin-left: 40px;
      padding: 0.5em 1em 0.5em 1em;

      .service-image {
        position: absolute;
        top: 50%;
        left: 13.3em;
        transform: translateY(-50%);
      }
    }

    .icon-container {
      width: 99.76px;
      height: 65.86px;
      background: $color-navPosition;
      border-radius: 16.1569px;
      position: absolute;
      transform: translate(-12px, -90px);
      z-index: -1;

      .icon {
        transform: translate(10px, 16px);
      }
    }
  }
}
