<section class="services">
  <div class="container-services">
    <header class="services-header">
      <h2 class="text-services">
        <span class="highlight-primary">Catálogo de servicios,</span><br>
        <span class="highlight-secondary">¡tu solución perfecta!</span>
      </h2>
      <hr class="divider-services">
    </header>
  </div>

  <!-- Usando el componente dinámico de navegación de servicios -->
  <app-service-navigation [currentService]="''"></app-service-navigation>
</section>
