<section class="work-teams">
  <div class="background-wrapper">
    <div class="white-background"></div>
    <div class="purple-background"></div>
    <div class="work-team-container">
      <div class="work-teams-container-title">
        <h2><strong>CONOCE</strong> NUESTRO EQUIPO</h2>
      </div>
      <hr class="divider-services" />
      <div class="team-card">
        <article class="card">
          <div class="profile-picture">
            <img src="assets/img/team/member1.webp" alt="Catherine Gómez" />
          </div>
          <h3>CATHERINE GÓMEZ</h3>
          <h4>Representante legal - Gerente</h4>
          <p>
            Abogada con amplia experiencia en asesoría legal y litigios, con más
            de 21 años de experiencia en el ejercicio del derecho. En materia de
            derecho comercial y civil. Igualmente, atención de procesos
            laborales y administrativos como abogada.
          </p>
          <div class="button-container">
            <button class="btn-more">
              <strong>ver más <span>&#8594;</span></strong>
            </button>
          </div>
        </article>
        <article class="card">
          <div class="profile-picture">
            <img src="assets/img/team/member2.webp" alt="Mirna Aguilera" />
          </div>
          <h3>MIRNA AGUILERA</h3>
          <h4>Abogada Junior</h4>
          <p>
            Abogada bilingüe, con experiencia en asesoramiento a empresas
            privadas en el área laboral y contractual. Especializada en la rama
            judicial, específicamente en el área del Derecho Contencioso
            Administrativo.
          </p>
          <div class="button-container">
            <button class="btn-more">
              <strong>ver más <span>&#8594;</span></strong>
            </button>
          </div>
        </article>
        <article class="card">
          <div class="profile-picture">
            <img src="" alt="Isa" />
          </div>
          <h3>Isa</h3>
          <h4>Abogada Junior</h4>
          <p>
            Abogada bilingüe, con experiencia en asesoramiento a empresas
            privadas en el área laboral y contractual. Especializada en la rama
            judicial, específicamente en el área del Derecho Contencioso
            Administrativo.
          </p>
          <div class="button-container">
            <button class="btn-more">
              <strong>ver más <span>&#8594;</span></strong>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
