<div class="service-us">
  <div class="service-content">
    <div class="service-header-text">
      <h2 class="service-title">
        <span class="strong">Derecho Comercial</span>
      </h2>
      <hr class="service-divider">
    </div>

    <div class="service-image">
      <img class="image" src="img\servicios\service_laboral_comercial_legaltech.png" alt="Derecho Comercial">
    </div>

    <div class="service-text">
      <p class="service-text-principal">
        Brindamos asesoría integral en derecho comercial para proteger y optimizar sus operaciones empresariales:
      </p>
    </div>
  </div>

  <div class="services-box">
    <p>• Asesoramiento y representación en la constitución de empresas, sociedades y otras entidades comerciales</p>
    <p>• Elaboración, revisión y negociación de contratos comerciales</p>
    <p>• Asesoramiento en la resolución de conflictos comerciales, como disputas contractuales, incumplimiento de
      contratos</p>
  </div>


</div>