@use "@assets/colors.scss" as *;

.company-section {
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 1.5;
  padding: 1rem;
  margin-top: 7%;

  .company-title {
    font-weight: 400;
    text-align: center;
    font-size: clamp(15px, 2vw, 43px);
    color: $color-footer;
    .company-title-bold {
      font-weight: 800;
    }
  }

  .section-divider {
    border: 0;
    border-top: 2px solid $color-navPosition;
    margin: auto;
    margin-bottom: 2%;
    width: clamp(226px, 33%, 766px);
    height: 1px;
    opacity: 1;
  }

  .company-swiper {
    color: $color-navPosition;
    --swiper-navigation-color: $color-navPosition;

    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 15px;
    height: 20vh;

    .company-swiper-slide {
      margin: 0 8px;

      .company-picture {
        display: flex;
        width: auto;
        height: 100%;
        justify-content: center;

        .company-img {
          margin: auto;
          max-width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          object-fit: contain;
          mix-blend-mode: color-burn;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .company-swiper {
    margin: 0 10%;
  }
}

