@use "../../../../../../../src/assets/colors.scss" as *;


  .button-container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    justify-content: center; /* centra horizontalmente el grid */
    align-content: center;   /* centra verticalmente el grid */
    justify-items: center;
    align-items: center;
    margin: 0 auto; /* centra el contenedor dentro del padre */
    font-family: "Inter", sans-serif;
    font-style: normal;




  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.service-item {
  &.hidden {
    display: none;
  }
}

.button-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #611374;
  border: 3.59816px solid #ffffff;
  background-color: #fff;
  border-radius: 16.1569px;
  box-shadow: 0 -3.79963px 3.03971px #00000008, 0 3.79963px 3.03971px #cbcbcb;
  width: 240.59px;
  height: 65.72px;
  margin-bottom: 25px;
  position: relative;
  margin-left: 40px;
  padding: .5em 1em;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:active {
    transform: none; // ⛔️ Quitamos el movimiento vertical

  }

  .service-title {
    margin: 0;
    text-align: left;
    flex-grow: 1;
  }
}

.icon-container {
  padding-left: 8px;
  width: 80px;
  height: 67px;
  background: $color-navPosition;
  border-radius: 16.1569px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -50;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {

  width: 40px;
  height: 40px;
  margin: 0;
  transform: translateX(-10px);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateX(-90px) scale(1.1);
  }


}


